[submodule "CPiscineShell00"]
	path = CPiscineShell00
	url = https://github.com/ketenor/CPiscineShell00.git
[submodule "libft"]
	path = libft
	url = https://github.com/ketenor/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/ketenor/get_next_line.git
